{% extends 'index.html' %}
{% block Title %} Home {% endblock Title %}
{% block search %} {% endblock search %}
{% block body %}
<div class="container my-3 title">
        <h1>Update Your Todos</h1>
        <form action="/update/{{todo.sno}}" method="post">
            <div class="mb-3">
              <label for="title" class="form-label">Todo Title</label>
              <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="Desc" class="form-label">Todo Description</label>
              <input type="text" class="form-control" name="desc" value="{{todo.desc}}" id="Desc">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
    </div>
{% endblock body %}
